body {
  background: $BACKGROUNDCOLOR !important;
}

* {
  color: $TEXTCOLOR !important;
  background: none !important;
}

a, a * {
  color: $LINKCOLOR !important;
}

a:visited, a:visited * {
  color: $VISITEDCOLOR !important;
}
