body {
  background-color: $BACKGROUNDCOLOR !important;
}

* {
  color: $TEXTCOLOR !important;
  background-color: transparent !important;
}

a, a * {
  color: $LINKCOLOR !important;
}

a:visited, a:visited * {
  color: $VISITEDCOLOR !important;
}
